# Application Port
PORT=3000

# Environment Status
NODE_ENV=development

<%_ if (database === 'postgres') { _%>
# PostgreSQL Database Connection
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
<%_ } else if (database === 'mysql') { _%>
# MySQL Database Connection
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
<%_ } else if (database === 'mongodb') { _%>
# MongoDB Connection String
DATABASE_URL="mongodb://HOST:PORT/DATABASE"
<%_ } _%>

# JWT Secret Key
JWT_SECRET="your_production_secret_key_here"
JWT_EXPIRE="7d"