# Application Port
PORT=3000

# Environment Status
NODE_ENV=development

<%- database === 'postgres' ? '# PostgreSQL Database Connection\nDATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"' : '' %>
<%- database === 'mysql' ? '# MySQL Database Connection\nDATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"' : '' %>
<%- database === 'mongodb' ? '# MongoDB Connection String\nDATABASE_URL="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DATABASE"' : '' %>

# JWT Secret Key
JWT_SECRET="your_secret_key_here"